/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#top-area {
  h3 {
    @include adjust-font-size-to(18px);
    margin: 1.6rem 0 1.2rem;
  }

  p {
    margin: 0;
  }
}

.staff-members {
  .attachment-before {
    margin-bottom: 2.4rem;

    .view-content {
      display: flex;
      flex-flow: row wrap;

      span {
        padding: 1rem;

        a {
          font-size: 2.4rem;
        }
      }
    }
  }

  .view-content {
    display: flex;
    flex-flow: row wrap;

    .staff-member {
      margin: 0 5% 5% 0;
      flex-basis: 47%;
      padding: 2.5rem 2rem 2rem 2.5rem;
      border: 1px solid #233857;
      border-bottom-width: 1rem;
      min-height: 22rem;

      &:nth-child(2n) {
        margin-right: 0;
      }

      div:nth-child(3), div:nth-child(4)  {
        margin: 1.2rem 0 0;
      }

      h3 {
        margin: 0;
        padding-bottom: 1rem;
      }

      p {
        display: inline-block;
      }

      p[data-once="emptyTags"] {
        display: inline;
        margin-bottom: 0;
      }
    }

    .staff-member img {
      float: right;
      border: 1px solid $black;
      margin: 2%;
    }
  }
}

.homepage--pull-quote {
  background: resolve('uregni-welcome.png') no-repeat 100%;
  height: 20rem;
  background-size: 37rem;
  background-color: #f6f6f6;
  @media screen and (max-width: $tab) {
    background: #f6f6f6;
  }

  .container-wrap {
    padding: 3rem 0;

    @media screen and (max-width: $max-grid-width) {
      padding: 4rem 0;
    }
    @media screen and (max-width: $mob) {
      padding: 5rem 0;
    }
  }

  blockquote {

    font-weight: bold;
    margin-left: 2rem;
    text-align: left;
    max-width: 55%;
    @media screen and (max-width: $tab) {
      max-width: 100%;
    }

    p {
      color: $black;
      @include adjust-font-size-to(24px);
      @media screen and (max-width: $tab) {
        @include adjust-font-size-to(30px);
      }
    }

    h2 {
      color: $brand-primary;
      @include adjust-font-size-to(40px);
      @media screen and (max-width: $tab) {
        @include adjust-font-size-to(38px);
      }
    }

    &::before,
    &::after {
      background: none;
      padding: 0;
    }
  }
}

#bottom-area {
  h3 {
    @include adjust-font-size-to(18px);
    margin: 1.6rem 0 1.2rem;
  }

  p {
    margin: 0;
  }
}

.block {
  h2 {
    padding: 1rem 0;
    color: $black;
  }
}

.footer-area {
  .column {
    @media screen and (max-width: $tab) {
      width: 50%;

      &:last-child {
        float: none;
      }
    }
  }
}
