/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';

#top-area {
  text-align: left;
  margin: 2rem auto;

  @include breakpoint($tab) {
    display: flex;
  }

  .column {
    background: $grey-light;
    padding: 2rem;
    width: 50%;
    position: relative;

    .item {
      list-style: none;
      border-bottom: 1px solid $grey-dark;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  h2 {
    color: $black;
  }
}


#bottom-area {
  text-align: left;
  margin: 2rem auto;
  @media screen and (max-width: $tab) {
    float: none !important;
    width: auto !important;
  }

  @include breakpoint($tab) {
    display: flex;
  }

  .column {
    background: $grey-light;
    padding: 2rem;
    width: 50%;
    @media screen and (max-width: $tab) {
      width: auto;
    }

    .item {
      list-style: none;
      border-bottom: 1px solid $grey-dark;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
