/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#main-menu {
  .menu .menu-item .active {
    border-bottom-color: $brand-secondary;
  }

  .menu-link,
  .menu .active {
    border-bottom: 5px solid transparent;

    &:hover {
      border-bottom-color: $brand-secondary;
    }

    &:focus {
      border-bottom-color: $brand-secondary;
    }
  }
}

#top-area {
  padding-bottom: 4rem;
  border-bottom: 1px solid black;
  text-align: left;
  margin-top: 3rem;
  display: flex;

  .column:first-child {
    background: $grey-lightest;
  }

  .column:nth-child(2) {
    background: $light-blue;
  }

  .column:last-child {
    background: $grey-blue;
  }

  .column {
    padding: 2rem;
    flex-grow: 1;

    .region-top-first {
      #block-niaomi-theme-views-block-news-and-events-homepage .content .item-list ul {
        list-style-type: disc;
        margin: 1.2rem 0 1.8rem 2.4rem;
      }
    }

    .region-top-second {
      #block-niaomi-theme-views-block-policies-and-guidance-homepage .content .item-list ul {
        list-style-type: disc;
        margin: 1.2rem 0 1.8rem 2.4rem;
      }
    }
  }
}

#block-niaomi-theme-content {
  .field-first-name-label, .field-job-title, .field-extension-staff-member, .field-profile-image {
    margin: 2.4rem 0 1.2rem;
  }
}

.staff-members {
  .attachment-before {
    margin-bottom: 2.4rem;

    .view-content {
      display: flex;
      flex-flow: row wrap;

      span {
        padding: 1rem;

        a {
          font-size: 2.4rem;
        }
      }
    }
  }

  .view-content {
    display: flex;
    flex-flow: row wrap;

    .staff-member {
      margin: 0 5% 5% 0;
      flex-basis: 47%;
      padding: 2.5rem 2rem 2rem 2.5rem;
      border: 1px solid $brand-primary;
      border-bottom-width: 1rem;
      min-height: 22rem;

      &:nth-child(2n) {
        margin-right: 0;
      }

      div:nth-child(3), div:nth-child(4)  {
        margin: 1.2rem 0 0;
      }

      h3 {
        margin: 0;
        padding-bottom: 1rem;
      }

      p {
        display: inline-block;
      }

      p[data-once="emptyTags"] {
        display: inline;
        margin-bottom: 0;
      }
    }

    .staff-member img {
      float: right;
      border: 1px solid $black;
      margin: 2%;
    }
  }
}


a.btn.top-right-btn {
  position: absolute;
  top: -55px;
  right: 10px;
  margin: 10px;
  width: 10rem;
  height: 4rem;
  background: $white;
  color: $black;
  border: 1px solid $black;

  &:hover {
    background: #666;
    color: $white;

    &:focus {
      background: #666;
      border: 3px solid $black;
    }
  }
}

a.btn.btn-staff-page {
  margin-bottom: 1rem;
}

.sidebar-second-layout {
  .rel-menu--latest-news {
    margin-bottom: 2rem;

    ul {
      margin-bottom: 1rem;

      li {
        padding: 0 0 .6rem 1rem;
        list-style: none;
        margin: 0 0 .2rem;
        position: relative;

        &::before {
          content: "-";
          left: 0;
          position: absolute;
          top: 0;
        }

        .date-published {
          display: block;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}

.node-type-niao-staff-member {
  .staff-profile-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: $phab) {
      flex-direction: column;
    }
  }

  .name-title {
    display: flex;
    align-items: center;
  }

  .staff-name {
    margin-right: 10px;
    font-weight: bold;
    font-size: 28px;
  }

  .staff-surname {
    font-style: normal;
    font-size: 28px;
  }

  .staff-job-title {
    font-size: 20px;
    margin: 10px 0;
  }

  .profile-image {
    max-width: 200px;
    height: auto;
    border-radius: 6px;
    margin-left: 20px;

    @media screen and (max-width: $phab) {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  .profile-details {
    margin-top: 20px;

    .field-email,
    .field-extension {
      margin-bottom: 15px;

      strong {
        display: block;
        font-weight: 600;
        margin-bottom: 4px;
      }
    }
  }
}

