/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#main-menu {
  .menu .menu-item .active {
    border-bottom-color: $brand-secondary;
  }

  .menu-link,
  .menu .active {
    border-bottom: 5px solid transparent;

    &:hover {
      border-bottom-color: $brand-secondary;
    }

    &:focus {
      border-bottom-color: $brand-secondary;
    }
  }
}

#top-area {
  h3 {
    @include adjust-font-size-to(18px);
    margin: 1.6rem 0 1.2rem;
  }

  p {
    margin: 0;
  }
}
