/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#main-menu {
  .menu .menu-item .active {
    border-bottom-color: $brand-secondary;
  }

  .menu-link,
  .menu .active {
    border-bottom: 5px solid transparent;

    &:hover {
      border-bottom-color: $brand-secondary;
    }

    &:focus {
      border-bottom-color: $brand-secondary;
    }
  }
}
