/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#main-menu {
  .menu .menu-item .active {
    border-bottom-color: $brand-secondary;
  }

  .menu-link,
  .menu .active {
    border-bottom: 5px solid transparent;

    &:hover {
      border-bottom-color: $brand-secondary;
    }

    &:focus {
      border-bottom-color: $brand-secondary;
    }
  }
}

.sidebar-second-layout {
  .rel-menu--latest-news {
    margin-bottom: 2rem;

    ul {
      margin-bottom: 1rem;

      li {
        padding: 0 0 .6rem 1rem;
        list-style: none;
        margin: 0 0 .2rem;
        position: relative;

        &::before {
          content: "-";
          left: 0;
          position: absolute;
          top: 0;
        }

        .date-published {
          display: block;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}
