/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#main-menu {
  .menu .menu-item .active {
    background: #008290;
    border-bottom-color: $brand-primary;
  }

  .menu-link,
  .menu .active {
    border-bottom: 5px solid transparent;
  }

  .menu-link {
    &:hover,
    &:focus {
      background-color: transparent;
      outline: 2px solid $white;
      outline-offset: -9px;
    }
  }
}

.sidebar-second-layout {
  .rel-menu--latest-news {
    margin-bottom: 2rem;

    ul {
      margin-bottom: 1rem;

      li {
        padding: 0 0 .6rem 1rem;
        list-style: none;
        margin: 0 0 .2rem;
        position: relative;

        &::before {
          content: "-";
          left: 0;
          position: absolute;
          top: 0;
        }

        .date-published {
          display: block;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}

.node-type-gallery {
  .field--name-field-gallery-images {
    display: grid;
    grid-gap: 24px;
    grid-template-rows: auto;
    word-wrap: break-word;
    word-break: break-word;

    &.layout--triptych {
      @include breakpoint($mob) {
        grid-template-columns: 1fr 1fr;
        //grid-gap: 24px;
      }

      @include breakpoint($phab) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .media-image {
      margin: 0;
    }

    a.photoswipe {
      display: block;
      background-color: $grey-lightest;
      padding: .5em;
      min-height: 170px;
      height: 100%;

      &:focus {
        figcaption {
          color: $link;
        }
      }
    }
  }
}

#content #block-mainpagecontent .content .photoswipe-gallery a.photoswipe {
  border: none;
  padding: 1rem;
  margin: 0;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  outline: 0;
  outline-offset: 0;

  &:hover {
    text-decoration-thickness: 2px;
  }

  &:focus {
    background: $grey-lightest;
    display: block;
    border: 1px solid $black;
  }
}

button.pswp__button {
  background-image: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  //position: absolute !important;
  border: none !important;
  font-weight: normal !important;
  padding: 0;
}

button.pswp__button--arrow--next {
  position: absolute !important;
}

.file--ico.file--ico__cm {
  background: resolve('content-manager.png') no-repeat;
  background-size: 3.8rem;

  &::before {
    background: none;
  }
}
