/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';

.top_left #logo {
  img {
    margin: 2%;
  }
}

.search-form {
  margin-right: 10px;
}

#header {
  background: $brand-primary;
  margin-bottom: 0;
}

#top-area,
#bottom-area {
  text-align: left;
  margin: 2rem auto;

  @include breakpoint($tab) {
    display: flex;
  }

  .column {
    background: $grey-light;
    padding: 2rem;
    width: 33%;

    .item {
      list-style: none;
      border-bottom: 1px solid $grey-dark;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  h2 {
    color: $black;
  }

  h3 {
    @include adjust-font-size-to(18px);
    margin: 0;
  }
}

#bottom-area .column {
  padding-bottom: 5rem;
  position: relative;

  h2 {
    font-size: 2.8rem;
    line-height: 3.6rem;
    color: $headings;
    padding: 1rem 0;
    margin: 0;
  }
}

.path-news,
.path-publications {
  .search-page {
    .sidebar-first-layout {
      padding-left: 0;
    }

    @include breakpoint($lap) {
      .sidebar-first-layout {
        width: 30%;
      }

      .main-content {
        width: 65%;
      }
    }

    .views-exposed-form {
      p {
        margin-bottom: 0;
      }
    }

    h2 {
      margin-top: 0;
    }

    .metaListItem {
      margin-left: 2rem;
    }
  }
}

#footer {
  background: #333434;

  .column {
    padding: 0;
  }

  .footer-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .region-footer-first {
    margin-right: auto;
    text-align: left;

    img {
      max-width: 200px;
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .menu {
    a {
      color: $white;
      text-decoration: none;
      display: inline-block;
      border-bottom: 1px solid $white !important;
      padding-bottom: 2px;

      &:hover {
        border-bottom: 1px solid $black !important;
        color: $white;
      }
    }

    li {
      margin-bottom: 0.5rem;
    }
  }

  @media (max-width: 768px) {
    .footer-area {
      flex-direction: column;
      align-items: flex-start;
    }

    .region-footer-first {
      img {
        max-width: 150px;
      }
    }
  }
}

.feed-block {
  .read-more {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

