/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.node-type-events {
  .content-sidebar-wrap {
    width: 100%;

    @media screen and (max-width: $lap){
      padding: 0 1rem;
    }
  }
}

.event-banner {
  max-width: $max-grid-width;
  margin: 0 auto;

  .media-image[data-picture-mapping="thin_banner"] {
    margin-bottom: 0;

    figcaption {
      display: none;
    }

  }
}

.event-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  padding-top: 5rem;

  div.event-left {
    flex-basis: 100%;

    h1 {
      margin-top: 0;
    }
    @include breakpoint($tab) {
      flex-basis: 66%;
      padding-right: 3rem;
    }
  }

  p {
    flex: 1;
  }
}

div.event-right {
  flex-basis: 100%;

  @include breakpoint($mob) {
    flex-basis: 50%;
  }

  @include breakpoint($tab) {
    flex-basis: 33%;
  }

  .btn {
    width: 100%;
  }
}

div.event-info {
  background: #1b2c57;
  padding: 2rem;
  margin-bottom: 3rem;

  h2,
  p {
    color: $white;
  }

  h2 {
    margin-top: 0;
  }

  p {
    display: flex;

    &:first-child {
      border-bottom: 1px solid $white;
      padding-bottom: 1.8rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  span {
    display: block;
  }

  .fas {
    padding-right: 2rem;
    width: 6rem;
  }

  .fa-calendar-alt {
    font-size: 5rem;
  }

  .fa-clock {
    font-size: 4.8rem;
  }

  .fa-map-marker-alt {
    font-size: 5.8rem;
  }
}

.accordion-row {
  border-bottom: 1px solid $link;
  padding-bottom: 1rem;

  &:last-child {
    border: none;
  }

  h3 {
    @include responsive-typo-map($normal-text);
  }

  h3,
  p {
    margin-bottom: 0;
  }

  .event-start-time {
    &:after {
      content: ' -';

    }
  }
}
