/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#main-menu {
  .menu .menu-item .active {
    border-bottom-color: $brand-secondary;
  }

  .menu-link,
  .menu .active {
    border-bottom: 5px solid transparent;

    &:hover {
      border-bottom-color: $brand-secondary;
    }

    &:focus {
      border-bottom-color: $brand-secondary;
    }
  }
}

#top-area {
  padding-bottom: 4rem;
  border-bottom: 1px solid black;
  text-align: left;
  margin-top: 3rem;
  display: flex;

  .column:first-child {
    background: $grey-lightest;
  }

  .column:nth-child(2) {
    background: $light-blue;
  }

  .column:last-child {
    background: $grey-blue;
  }

  .column {
    padding: 2rem;
    flex-grow: 1;

    .region-top-first {
      #block-niaomi-theme-views-block-news-and-events-homepage .content .item-list ul {
        list-style-type: disc;
        margin: 1.2rem 0 1.8rem 2.4rem;
      }
    }

    .region-top-second {
      #block-niaomi-theme-views-block-policies-and-guidance-homepage .content .item-list ul {
        list-style-type: disc;
        margin: 1.2rem 0 1.8rem 2.4rem;
      }
    }
  }
}

#block-niaomi-theme-content {
  .field-first-name-label, .field-job-title, .field-extension-staff-member, .field-profile-image {
    margin: 2.4rem 0 1.2rem;
  }
}

.staff-members {
  .attachment-before {
    margin-bottom: 2.4rem;

    .view-content {
      display: flex;
      flex-flow: row wrap;

      span {
        padding: 1rem;

        a {
          font-size: 2.4rem;
        }
      }
    }
  }

  .view-content {
    display: flex;
    flex-flow: row wrap;

    .staff-member {
      margin: 0 5% 5% 0;
      flex-basis: 47%;
      padding: 2.5rem 2rem 0 2.5rem;
      border: 1px solid #233857;
      border-bottom-width: 1rem;
      min-height: 22rem;

      &:nth-child(2n) {
        margin-right: 0;
      }

      div:nth-child(3), div:nth-child(4)  {
        margin: 1.2rem 0 0;
      }

      h3 {
        margin: 0;
      }

      p {
        display: inline-block;
      }

      p[data-once="emptyTags"] {
        display: inline;
        margin-bottom: 0;
      }
    }

    .staff-profile-image img {
      float: right;
    }
  }
}
